* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  border: solid 2px darkslategrey;
}
a {
  text-decoration: none;
  color: white;
}
.tabcontent {
  display: none;
}

/* Small screens (up to 767px) */
@media (max-width: 557px) {
  html {
    display: block;
  }
  nav {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .intro {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .intro h1 {
    font-family: "Comfortaa", cursive;
    font-size: 2em;
    color: darkslategrey;
    cursor: pointer;
  }
  .intro h2 {
    font-family: "K2D", sans-serif;
    font-size: 1em;
    color: darkslategrey;
  }
  .socials {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .socials img {
    width: 30px;
  }
  .socials ul {
    list-style: none;
    display: inline-flex;
    padding: 0;
    gap: 20px;
  }
  .socials ul li {
    cursor: pointer;
  }
  /*-------------------------------HEADER END---------------------------------*/
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 10px 10px;
    margin: 0 0 70px;
  }
  .info {
    margin: 0 10px 0 10px;
  }
  .info h1 {
    font-family: "Manjari", sans-serif;
    color: darkslategrey;
    font-size: 2em;
  }
  .info p {
    font-family: "Manjari", sans-serif;
    color: darkslategrey;
    font-size: 1em;
    font-weight: 600;
    line-height: 2em;
  }
  .menu {
    background-color: rgba(47, 79, 79, 0.847);
    border-radius: 20px 0 20px 0;
    position: fixed;
    bottom: 10px;
    left: 20px;
    right: 20px;
  }
  .menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    justify-content: center;
    font-family: "K2D", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
  }
  .projects {
    display: grid;
  }
  .projects h3 {
    font-family: "K2D", sans-serif;
    font-size: 1em;
    color: darkslategrey;
  }
  .projects__content a h2 {
    font-size: 3.1em;
    color: darkslategrey;
    font-family: "Comfortaa", cursive;
  }
  .projects__content {
    overflow: auto;
    width: 100%;
    max-height: 50dvh;
  }
  .projects__content::-webkit-scrollbar {
    width: 12px;
  }
  .projects__content::-webkit-scrollbar-thumb {
    border: solid 2px darkslategrey;
  }
  /* CSS styles for small screens go here */
}

/* Medium screens (768px to 991px) */
@media (min-width: 557px) and (max-width: 991px) {
  html {
    display: block;
  }
  nav {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .intro {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .intro h1 {
    font-family: "Comfortaa", cursive;
    font-size: 2.5em;
    color: darkslategrey;
    cursor: pointer;
  }
  .intro h2 {
    font-family: "K2D", sans-serif;
    font-size: 1.4em;
    color: darkslategrey;
  }
  .socials {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .socials img {
    width: 40px;
  }
  .socials ul {
    list-style: none;
    display: inline-flex;
    padding: 0;
    gap: 20px;
  }
  .socials ul li {
    cursor: pointer;
  }
  /*-------------------------------HEADER END---------------------------------*/
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 10px 10px;
    margin: 0 0 70px;
  }
  .info {
    margin: 0 50px 0 50px;
  }
  .info h1 {
    font-family: "Manjari", sans-serif;
    color: darkslategrey;
    font-size: 2.5em;
  }
  .info p {
    font-family: "Manjari", sans-serif;
    color: darkslategrey;
    font-size: 1em;
    font-weight: 600;
    line-height: 2em;
  }
  .menu {
    background-color: rgba(47, 79, 79, 0.847);
    border-radius: 20px 0 20px 0;
    position: fixed;
    bottom: 10px;
    left: 50px;
    right: 50px;
  }
  .menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    justify-content: center;
    font-family: "K2D", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.4em;
  }
  .projects {
    display: grid;
    min-width: 80vw;
  }
  .projects h3 {
    font-family: "K2D", sans-serif;
    font-size: 1em;
    color: darkslategrey;
  }
  .projects__content a h2 {
    font-size: 4em;
    color: darkslategrey;
    font-family: "Comfortaa", cursive;
  }
  .projects__content a h2:hover {
    text-decoration: line-through;
    cursor: pointer;
  }
  .projects__content {
    overflow: auto;
    width: 100%;
    max-height: 50dvh;
    margin: 10px 0 50px 0;
  }
  .projects__content::-webkit-scrollbar {
    width: 12px;
  }
  .projects__content::-webkit-scrollbar-thumb {
    border: solid 2px darkslategrey;
  }
  /* CSS styles for medium screens go here */
}

/* Large screens (992px and above) */
@media (min-width: 992px) {
  html {
    display: block;
    margin: 0 14vw 0 14vw;
  }
  nav {
    display: flex;
    justify-content: space-between;
    margin: 5vh 0 10vh 0;
    gap: 50px;
  }
  .intro h1 {
    font-family: "Comfortaa", cursive;
    font-size: 3.5em;
    color: darkslategrey;
    cursor: pointer;
  }
  .intro h2 {
    font-family: "K2D", sans-serif;
    font-size: 1.2em;
    color: darkslategrey;
  }
  .socials {
    margin: auto 0 auto 0;
  }
  .socials img {
    width: 40px;
  }
  .socials ul {
    list-style: none;
    display: inline-flex;
    padding: 0;
    gap: 20px;
  }
  .socials ul li {
    cursor: pointer;
  }
  .socials ul li:hover {
    transform: rotate(10deg);
  }
  /*-------------------------------HEADER END---------------------------------*/
  .content {
    display: flex;
    justify-content: space-between;
  }
  .info h1 {
    font-family: "Manjari", sans-serif;
    color: darkslategrey;
    font-size: 2.7em;
  }
  .info p {
    font-family: "Manjari", sans-serif;
    color: darkslategrey;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.1em;
    max-width: 95%;
  }
  .menu ul {
    list-style: none;
    font-family: "K2D", sans-serif;
    color: darkslategrey;
    font-size: 1.8em;
  }
  .menu ul li {
    margin: 5px 5px;
    cursor: pointer;
  }
  .menu ul li:hover {
    text-decoration: underline;
  }
  .projects {
    display: grid;
    min-width: 50vw;
  }
  .projects h3 {
    font-family: "K2D", sans-serif;
    font-size: 1em;
    color: darkslategrey;
  }
  .projects__content a h2 {
    font-size: 4em;
    color: darkslategrey;
    font-family: "Comfortaa", cursive;
  }
  .projects__content a h2:hover {
    text-decoration: line-through;
    cursor: pointer;
  }
  .projects__content {
    overflow: auto;
    max-height: 50dvh;
    margin: 5px 0 50px 0;
  }
  .projects__content::-webkit-scrollbar {
    width: 12px;
  }
  .projects__content::-webkit-scrollbar-thumb {
    border: solid 2px darkslategrey;
  }
  /* CSS styles for medium screens go here */
}
