/** @format */

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  color: darkslategrey;
}

html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  border: solid 2px darkslategrey;
}

.socials-icon {
  padding: 3px 4px 3px 4px;
  background-color: white;
  border-radius: 5px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: end;
  list-style: none;
  padding: 0;
  gap: 20px;
}

.socials img {
  width: 40px;
}

.socials img:hover {
  transform: rotate(10deg);
}

.switch {
  position: relative;
  display: flex;
  align-items: center;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: darkslategrey;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
a {
  text-decoration: none;
}

.infolink {
  color: darkslategrey;
}

.tabcontent {
  display: none;
}

/* Small screens (up to 767px) */
@media (max-width: 557px) {
  html {
    display: block;
  }

  .socials img {
    width: 35px;
  }

  nav {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .menuinfolink {
    color: white;
  }
  .intro {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }
  .intro h1 {
    font-family: 'K2D', sans-serif;
    font-size: 8.5vw;
    cursor: pointer;
  }
  .intro h2 {
    font-family: 'K2D', sans-serif;
    font-size: 1em;
  }

  /*-------------------------------HEADER END---------------------------------*/
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 70px;
  }
  .info {
    margin: 0 10px 0 10px;
  }
  .info h1 {
    font-family: 'Manjari', sans-serif;
    font-size: 2em;
  }
  .info p {
    font-family: 'Manjari', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    line-height: 2em;
  }
  .menu {
    background-color: rgba(47, 79, 79, 0.964);
    border-radius: 20px 0 20px 0;
    position: fixed;
    bottom: 10px;
    left: 20px;
    right: 20px;
  }
  .menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    justify-content: center;
    font-family: 'K2D', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
  }
  .menu ul a {
    color: rgb(255, 255, 255);
  }
  .projects {
    display: grid;
    padding-bottom: 30px;
  }
  .projects h3 {
    font-family: 'K2D', sans-serif;
    font-size: 1em;
  }
  .projects__content a h2 {
    font-size: 3.1em;
    font-family: 'K2D', sans-serif;
  }
  .projects__content {
    overflow: auto;
    width: 100%;
    max-height: 50dvh;
  }
  .projects__content::-webkit-scrollbar {
    width: 12px;
  }
  .projects__content::-webkit-scrollbar-thumb {
    border: solid 2px darkslategrey;
  }
  /* CSS styles for small screens go here */
}

/* Medium screens (768px to 991px) */
@media (min-width: 557px) and (max-width: 991px) {
  html {
    display: block;
  }
  nav {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .menuinfolink {
    color: white;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .intro h1 {
    font-family: 'K2D', sans-serif;
    font-size: 2.5em;
    cursor: pointer;
  }
  .intro h2 {
    font-family: 'K2D', sans-serif;
    font-size: 1.4em;
  }

  /*-------------------------------HEADER END---------------------------------*/
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 70px;
  }
  .info {
    margin: 0 50px 0 50px;
  }
  .info h1 {
    font-family: 'Manjari', sans-serif;
    font-size: 2.5em;
  }
  .info p {
    font-family: 'Manjari', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 2em;
  }
  .menu {
    background-color: rgba(47, 79, 79, 0.968);
    border-radius: 20px 0 20px 0;
    position: fixed;
    bottom: 10px;
    left: 50px;
    right: 50px;
  }
  .menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    justify-content: center;
    font-family: 'K2D', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.4em;
  }
  .projects {
    display: grid;
    min-width: 80vw;
    padding-bottom: 30px;
  }
  .projects h3 {
    font-family: 'K2D', sans-serif;
    font-size: 1em;
  }
  .projects__content a h2 {
    font-size: 4em;
    font-family: 'K2D', sans-serif;
  }
  .projects__content a h2:hover {
    text-decoration: line-through;
    cursor: pointer;
  }
  .projects__content {
    overflow: auto;
    width: 100%;
    max-height: 50dvh;
    margin: 10px 0 50px 0;
  }
  .projects__content::-webkit-scrollbar {
    width: 12px;
  }
  .projects__content::-webkit-scrollbar-thumb {
    border: solid 2px darkslategrey;
  }
  /* CSS styles for medium screens go here */
}

/* Large screens (992px and above) */
@media (min-width: 992px) {
  html {
    display: block;
    margin: 0 13vw 0 13vw;
  }
  nav {
    display: flex;
    justify-content: space-between;
    margin: 5vh 0 5vh 0;
    align-items: center;
    gap: 50px;
  }
  .menuinfolink {
    color: darkslategrey;
  }
  .intro h1 {
    font-family: 'K2D', sans-serif;
    font-size: 3.5em;
    cursor: pointer;
  }
  .intro h2 {
    font-family: 'K2D', sans-serif;
    font-size: 1.2em;
  }

  /*-------------------------------HEADER END---------------------------------*/
  .content {
    display: flex;
    justify-content: space-between;
  }
  .info h1 {
    font-family: 'Manjari', sans-serif;
    font-size: 2.7em;
  }
  .info p {
    font-family: 'Manjari', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.7em;
    max-width: 95%;
  }
  .menu ul {
    list-style: none;
    font-family: 'K2D', sans-serif;
    font-size: 1.8em;
  }
  .menu ul li {
    margin: 5px 5px;
    cursor: pointer;
  }
  .menu ul li:hover {
    text-decoration: underline;
  }
  .projects {
    display: grid;
    min-width: 50vw;
  }
  .projects h3 {
    font-family: 'K2D', sans-serif;
    font-size: 1em;
  }
  .projects__content a h2 {
    font-size: 4em;
    font-family: 'K2D', sans-serif;
  }
  .projects__content a h2:hover {
    text-decoration: line-through;
    cursor: pointer;
  }
  .projects__content {
    overflow: auto;
    max-height: 50dvh;
    margin: 5px 0 50px 0;
  }
  .projects__content::-webkit-scrollbar {
    width: 12px;
  }
  .projects__content::-webkit-scrollbar-thumb {
    border: solid 2px darkslategrey;
  }
  /* CSS styles for medium screens go here */
}
